{{ HKIS/base.html }}

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/bootstrap.min.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/base.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/content.css&action=raw&ctype=text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <style>
    #header h1 {
      text-align: center !important;
      background:
          linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("https://2021.igem.org/wiki/images/8/84/T--HKIS--Education_Banner.jpg");
      background-size: cover;
      width: 100%;
      padding: 42.5vmin 0 42.5vmin 0 !important;
      font-size: 10rem;
      margin-top: -5vh;
      color: white !important;
    }

    #educationSlideshow {
      position: relative;
      margin: 5vh auto 5vh auto;
      width: 100%;
      height: 70%;
      background-color: #d9efff !important;
    }

    .carousel-control-next, .carousel-control-prev {
      height: fit-content;
      width: 5vw;
      margin: auto;
      z-index: 999;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
      padding: 2vh;
    }

    .carousel-inner img {
      margin: auto;
      height: 90%;
    }

    .carousel-indicators {
      position: relative;
      bottom: 5vh;
      z-index: 999;
      height: 0vh;
    }

    .carousel-indicators [data-bs-target] {
      position: relative;
      width: 1.5vh;
      height: 1.5vh;
      border-radius: 100%;
      margin-left: 5vh;
      margin-right: 5vh;
      bottom: 1vh;
    }
  </style>

  <div id="header">
    <h1 class="black">Education</h1>
  </div>

  <div id="content-row" class="row">
    <!-- class += d-none -->
    <div id="sidebar-col" class="col shadow-sm">
      <nav style="height: 100vh;" class="regular navbar sticky-top navbar-light bg-none flex-column align-items-stretch p-3">
        <nav id="sidebar" class="nav nav-pills flex-column shadow rounded-3">
          <h1 class="bold" style="text-align: center !important;">Page Overview</h1>
          <br>
          <a class="nav-link active mb-4" href="#seminar">In-School Seminar</a>
          <a class="nav-link mb-4" href="#symposium">HKUST Symposium & NEANM</a>
          <a class="nav-link mb-4" href="#conclusion">Conclusion</a>
        </nav>
      </nav>
    </div>
    <div id="text-content" class="col">
      <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-method="auto" data-bs-offset="20" tabindex="0">
        <h2 id="seminar">In-School Seminar</h2>
          <p>
            To pursue our education criteria, we wanted to reach out to people in our school’s community. We planned and prepared a seminar about tackling local issues through innovative solutions. We used our project as the backdrop for our presentation, detailing the different processes we went through that worked for us. We also gave several tips for science-specific projects. However, we wanted our seminar to be helpful to a larger group of students, so we highlighted our work for human practices and our outreach to the Hong Kong community, encouraging other students to do the same. We created this seminar to share how to develop a product from ideation to creation and how one can use creative solutions to solve local issues, even at the high school level.
          </p>
          <p>
            Our main focus, however, was to inspire entrepreneurial students and help them kick start any project ideas they have with a basic 4 step plan: 1. Identify an issue. 2. Conduct surveys and interviews to gauge issue importance. 3. Design a solution. 4. Interview target demographic for their opinion. We demonstrated how we used this process in our own project by identifying how we approached each step and its results on our project.
          </p>

          <!-- Add slideshow - 3 images -->
          <div id="educationSlideshow" class="shadow-lg bg-body rounded-3 carousel slide" data-bs-ride="carousel">
            <div class="shadow-lg carousel-inner rounded-3">
              <div class="carousel-item active" data-bs-interval="5000">
                <img class="d-block w-100 img-fluid rounded-3" src="https://2021.igem.org/wiki/images/thumb/3/3d/T--HKIS--education1.JPG/1600px-T--HKIS--education1.JPG" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 img-fluid rounded-3" src="https://2021.igem.org/wiki/images/thumb/a/ab/T--HKIS--education2.JPG/1600px-T--HKIS--education2.JPG" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 img-fluid rounded-3" src="https://2021.igem.org/wiki/images/thumb/b/b4/T--HKIS--education3.JPG/1600px-T--HKIS--education3.JPG" alt="Third slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#educationSlideshow" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#educationSlideshow" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#educationSlideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#educationSlideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#educationSlideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          </div>
          <br><br><br><br>
          <p>
            The presentation was a success. We had a good turnout with many people attending, with a very nice split between STEM and non-STEM oriented students. In addition, we were able to answer several questions about the importance of good human practices, the brainstorming and research process, and different ways to reach out to experts and other stakeholders. This was a very positive experience for our team and was a great way to pass on some of our experiences to others interested in developing new products to solve problems. 
          </p>
        <h2 id="symposium">HKUST Symposium & North-East Asia Network Meeting</h2>
          <p>
            The seminar mentioned previously was our first presenting experience to people outside of the somewhat insular iGEM community, but it was not our first experience in education. We previously participated in the HKUST HK Regional Symposium, along with the North-East Asia Joint Collaboration Jamboree. These events were opportunities for us to prepare and gain some presenting experience. They were also opportunities to raise further awareness of our ideas and the current issues in the oyster industry. These presentations allowed us to explain the technical aspects of our project more in-depth instead of the human practice-oriented presentation we gave to our school. The North-East Asia Joint Collaboration Network was another way to advise and educate other teams through different collaborative efforts. In this meet, we aimed to not only present our project, but also shine light on the issue of global Vibrio contamination, especially to these teams based near coastal regions.
          </p>
        <h2 id="conclusion">Conclusion</h2>
          <p>
            Overall, the various opportunities we’ve had to educate and raise awareness around our project have deepened our understanding and allowed us to spread our passion for biology to a broader audience, as well as spread awareness of a growing issue. Whether it be to an audience of iGEM teams or an audience of students at our school, these presentations have allowed us to share our ideas and have hopefully motivated others to take action in their communities.
          </p>
        <div id="sources-div">
          <h2 id="sources">Sources</h2>
          <p class="thin">
            “Trends in Education.” Hospitality News & Business Insights by EHL, hospitalityinsights.ehl.edu/tag/trends-in-education. 
          </p>
        </div>  
      </body>
    </div>
  </div>

  <!-- Footer code derived from © 2021 Copyright: MDBootstrap.com -->
  <footer class="text-center text-white" style="z-index: 999; background-color: #8f8f8f;">
    <!-- Grid container -->
    <div class="container p-4">
      <h1 style="margin-top: 1.5vh !important;">Special Thanks to Our Sponsors!</h1>
      <!-- Section: Images -->
      <section class="">
        <div class="row justify-content-center mt-5 mb-5" style="width: 100%;">
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 10.5vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/a/ac/T--HKIS--new-england-biolabs.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="New England Biolabs"
              />
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 19vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/2/2e/T--HKIS--twist.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Twist Bioscience"
              />
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 9.33vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/d/d0/T--HKIS--rtc.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Frederick Gardner Cottrell Foundation of Research Corporation Technologies"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->

      <!-- Section: Form -->
      <section>
        <h3 class="contact">Contact Us</h3>
        <h4 class="contact">igem.hshk@gmail.com</h3>
      </section>
      <!-- Section: Form -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://2021.igem.org/Team:HKIS">VibCheck-HKIS</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/bootstrap.bundle.min.js&action=raw&ctype=text/javascript"></script>
  <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/jquery.min.js&action=raw&ctype=text/javascript"></script>
  <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/content.js&action=raw&ctype=text/javascript"></script>
</html>