<!-- {{ HKIS/base.html }} -->

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 
      Use replace "../../css" with "../../static/css" if you are using this code outside of playground.html - similar structure with other types of files as well.
      "../../" means the path (directory) of the parent folder - using "../../" in this html file will return the filepath of the "static folder"
      https://stackoverflow.com/questions/19977506/selecting-a-parent-directory-in-html - more information available here 
    -->
    <link type=text/css rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link type=text/css rel="stylesheet" href="../../static/css/base.css">
    <link type=text/css rel="stylesheet" href="../../static/css/content.css">
    <!-- <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/bootstrap.min.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/base.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/content.css&action=raw&ctype=text/css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <style>
    #header h1 {
      text-align: center !important;
      background:
          linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        url("../../static/media/images/T--HKIS--Partnership_Banner.jpg");
      background-size: cover;
      width: 100%;
      padding: 42.5vmin 0 42.5vmin 0 !important;
      font-size: 10rem;
      margin-top: -5vh;
      color: white !important;
    }
  </style>

  <div id="header">
    <h1 class="black">Partnership</h1>
  </div>

  <div id="content-row" class="row">
    <!-- class += d-none -->
    <div id="sidebar-col" class="col shadow-sm">
      <nav style="height: 100vh;" class="regular navbar sticky-top navbar-light bg-none flex-column align-items-stretch p-3">
        <nav id="sidebar" class="nav nav-pills flex-column shadow rounded-3">
          <h1 class="bold" style="text-align: center !important;">Page Overview</h1>
          <br>
          <a class="nav-link active mb-4" href="#intro">Introduction</a>
          <a class="nav-link mb-4" href="#received-assist">Received Assistance</a>
          <a class="nav-link mb-4" href="#provided-assist">Provided Assistance</a>
          <a class="nav-link" href="#sources">Sources</a>
        </nav>
      </nav>
    </div>
    <div id="text-content" class="col">
      <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-method="auto" data-bs-offset="20" tabindex="0">
        <h2 id="intro">Introduction</h2>
        <p>
          Collaborative events have proven to be invaluable for this project. The ASIJ team graciously invited us to the Southeast Asia iGEM team networking event where we met diverse groups who all have a passion for solving a prevalent issue in their communities. We were also invited to a regional symposium hosted by HKUST who provided us with beneficial feedback on our human practices and wet lab dry lab project portions. Considering all our team members are new to iGEM, both collaborations accepted us with amity and helped us graciously. As of now, both of these relationships are steadfast and we are grateful for all the feedback provided to our project.
        </p>
        <p>
          However, the team relationship most valuable to us is our mentor-mentee relationship with team HKU. In our first meeting with them, they offered us feedback in our emerging patents section and human practices section, constructively critiquing aspects that were well designed or lacking. During this meeting, we established a mentorship program, with HKU formally becoming our mentor team. Throughout many visits and zoom meetings, they have provided us with essential feedback in many sections that would not be as successful as we see today. From their insights into project criteria, content, lab work, and human practices, we have consulted them on numerous occasions and they have been only helpful.
        </p>
        <img src="../../static/media/images/T--HKIS--Partnership_intro.png">
        <h2 id="received-assist">Received Assistance</h2>
        <p>
          Throughout our project, we have had great communication with the HKU team. Through our communication, we gained a lot of insight and received helpful feedback on medal criteria and wet lab experiments.
        </p>
        <p>
          One such instance was after we reached a roadblock in our human practices section. We consulted the HKU team for their experience and opinion on our content sections and received valuable feedback. Specifically, we learned more about the nature of patents and patent research in iGEM projects, the open-source nature of iGEM work, and the infeasibility in patenting project work. From this knowledge, we abandoned the deeper scale work we were planning to do for acquiring a patent and instead opted to add a thinner patent section investigating the feasibility of our project’s concept for patenting as a demonstration of possibility and uniqueness. This allowed us to create a more well-developed and logical human practices section without pursuing a patent which would have been both infeasible and time-consuming.
        </p>
        <p>
          Beyond this, the HKU team has provided us with much support in wet lab areas. Kenneth Ng, in particular, has helped us with our project tremendously. He has played a crucial role as our guide and primary support. With his help, we have learned a lot about the scientific process behind building up a coherent experimental process. We owe our practical successes to his advice and insight.
        </p>
        <p>
          Lastly, the HKU team helped us construct a more conclusive proof of concept section as well. When we reached a roadblock on our proof of concept section and overlapping content, they gladly walked us through sorting out what belongs. They gladly offered their insight into other criteria, which allowed us to distinguish and craft the proof of concept page we have today.
        </p>
        <h2 id="provided-assist">Provided Assistance</h2>
        <p>
          Our team tried our best to advertise their events and provide high school student resources, including participants for their events. When we were asked to find students to participate in their policy competition event, we worked hard to ensure that it was properly advertised and broadcasted to all students, especially those with overlapping STEM interests that would be especially interested in such an opportunity. 
        </p>
        <p>
          We also tried our best to let HKU know of any special presentational events we were being invited to participate in, in case these events were of interest to them. Overall, we tried to be an intermediate for them to expand their network of contacts in areas where applicable.
        </p>
        <div id="sources-div">
          <h2 id="sources">Sources</h2>
          <p class="thin">“When Should You Consider a Merger or Partnership? - N-Able.” N, 2 June 2021, www.n-able.com/blog/when-should-you-consider-merger-or-partnership.</p>
        </div>  
      </body>
    </div>
  </div>

  <!-- Footer code derived from © 2021 Copyright: MDBootstrap.com -->
  <footer class="text-center text-white" style="z-index: 999; background-color: #8f8f8f;">
    <!-- Grid container -->
    <div class="container p-4">
      <h1 style="margin-top: 1.5vh !important;">Special Thanks to Our Sponsors!</h1>
      <!-- Section: Images -->
      <section class="">
        <div class="row justify-content-center mt-5 mb-5" style="width: 100%;">
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 10.5vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/a/ac/T--HKIS--new-england-biolabs.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="New England Biolabs"
              />
              <!-- <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a> -->
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 19vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/2/2e/T--HKIS--twist.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Twist Bioscience"
              />
              <!-- <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a> -->
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 9.33vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/d/d0/T--HKIS--rtc.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Frederick Gardner Cottrell Foundation of Research Corporation Technologies"
              />
              <!-- <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a> -->
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->

      <!-- Section: Form -->
      <section>
        <h3 class="contact">Contact Us</h3>
        <h4 class="contact">igem.hshk@gmail.com</h3>
      </section>
      <!-- Section: Form -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://2021.igem.org/Team:HKIS">VibCheck-HKIS</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/bootstrap.bundle.min.js&action=raw&ctype=text/javascript"></script>
  <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/jquery.min.js&action=raw&ctype=text/javascript"></script>
  <!-- <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/content.js&action=raw&ctype=text/javascript"></script> -->
  <script type="text/javascript" src="../../static/js/content.js"></script>
</html>