@font-face {
	font-family: "Bitter";
	src: url("../fonts/Bitter/Bitter-VariableFont_wght.ttf") format("truetype");
	/* src: url("https://2021.igem.org/wiki/images/2/2d/T--HKIS--bitter_font.ttf") format("truetype"); */
	/* src: url({{filepath:T--HKIS--bitter_font.ttf}}); */
}

/***************************************************** DEFAULT WIKI SETTINGS  *********************************************/
/* Clear the default wiki settings */
#sideMenu, #top_title, .patrollink, #firstHeading, #home_logo, #sideMenu { display: none; }
#content { padding: 0px; width: 100%; height: 100vh; margin-top: 0px; margin-left: 0px; border: none;}
#bodyContent h1, #bodyContent h2, #bodyContent h3, #bodyContent h4, #bodyContent h5, #bodyContent p { margin-bottom: 0px; font-family: 'Bitter'; }
#bodyContent a[href ^="https://"], .link-https { padding-right: 0px;}
#HQ_page p { font-size: 13px;}


html, body {
	background-color: rgb(178, 220, 248); 
	width: 100%; 
	position: relative;
	padding: 0;
 	margin: 0 auto;
	background-size: cover;
	font-family: 'Bitter';
	font-size: 12px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
}

#navbar {
	display: inline-block;
	width: 100%;
	background-color: rgb(93, 124, 182);
	padding: 1vh;
}

#navbar a {
	font-size: 2rem;
	text-align: center;
	width: fit-content;
}

#navbar .navbar-brand {
	position: relative;
}

#navbar .nav-item .dropdown-toggle {
	padding: 0 20px 0 20px !important;
}

#navbar #navbarSupportedContent {
	position: relative;
	margin-right: 1%;
  width: 100%;
	/* margin: 0 auto; */
	/* margin: 0 5vw 0 5vw; */
}

#navbar .nav-item .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
	width: 100%;
}

#navbar .nav-item .dropdown-item {
	margin: 0;
	text-align: center;
	width: 100%;
	font-size: 1.5rem;
}

#navbar .dropdown-toggle::after {
	content: none;
}

