{{ HKIS/base.html }}

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/bootstrap.min.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/base.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/content.css&action=raw&ctype=text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <style>
      #header h1 {
        text-align: center !important;
        background:
            linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
          ),
          url("https://2021.igem.org/wiki/images/thumb/0/0d/T--HKIS--Engineering_Banner.jpg/1600px-T--HKIS--Engineering_Banner.jpg");
        background-size: cover;
        width: 100%;
        padding: 42.5vmin 0 42.5vmin 0 !important;
        font-size: 10rem;
        margin-top: -5vh;
        color: white !important;
      }
      .card {
        display: block;
        position: relative;
        width: 100%;
        background-color: #f2f8f9;
        padding: 2vh 2vh;
        z-index: 0;
        border: 1px solid #f2f8f9;
        text-align: center;
      }

      .card-img {
        width:100%;
        display: block; 
      }
      .card-body{
        line-height: 1.5rem;
        padding: 0.5vh;
        text-align: center;
      }

      .card button {
        border-width: 0 !important;
        padding: 0;
        margin-bottom: 5vh;
      }

      .card-body > p:first-of-type {
        margin-top: 0;
        text-indent: 0 !important;
        text-align:center;
        word-break: break-all;
      }

      .card-title{
        padding-top: 0 !important;
      }

      h4 {
        padding-top: 3.5vh !important;
        padding-bottom: 0.5vh !important;
      }
    </style>


  <div id="header">
    <h1 class="black">Engineering Success</h1>
    <!-- swap build and research images -->
  </div>

  <div class="modal fade" id="designModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-size: 4vh; padding: unset !important;" class="modal-title" id="exampleModalLabel">Design</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="font-size: 2vh;">The design phase is the phase for implementing the knowledge gained from previous iterations into a new and improved product or experiment.<h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #D7B1BF;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="researchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-size: 4vh; padding: unset !important;"class="modal-title" id="exampleModalLabel">Research/Imagine</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="font-size: 2vh;">The research and imagine phase is for researching a starting point for a new product. This is the phase where the initial prototype is conceived.<h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #D7B1BF;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="buildModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-size: 4vh; padding: unset !important;"class="modal-title" id="exampleModalLabel">Build/Test</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="font-size: 2vh;">The Build/Test phase is for constructing the new experiment or product and testing to see whether the hypothesized design is successful or not.<h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #D7B1BF;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="learnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-size: 4vh; padding: unset !important;"class="modal-title" id="exampleModalLabel">Learn</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="font-size: 2vh;">The learn phase is for understanding, gaining more knowledge, and coming up with a solution for previously unsuccessful experiments. This phase is all about learning from past failures and improving the product or experiment.<h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #D7B1BF;">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="content-row" class="row">
    <!-- class += d-none -->
    <div id="sidebar-col" class="col shadow-sm">
      <nav style="height: 100vh;" class="regular navbar sticky-top navbar-light bg-none flex-column align-items-stretch p-3">
        <nav id="sidebar" class="nav nav-pills flex-column shadow rounded-3">
          <h1 class="bold" style="text-align: center !important;">Page Overview</h1>
          <br>
          <a class="nav-link active" href="#flow">Optimizing the Lateral Flow Assay</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-4 my-0" href="#flow-1">Iteration 1</a>
            <a class="nav-link ms-4 my-0" href="#flow-2">Iteration 2</a>
            <a class="nav-link ms-4 my-0" href="#flow-3">Iteration 3</a>
            <a class="nav-link ms-4 my-0 mb-4" href="#flow-4">Iteration 4</a>
          </nav>
          <a class="nav-link" href="#cas12a">Optimizing the Cas12a Ratio</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-4 my-0" href="#cas12a-1">Iteration 1</a>
            <a class="nav-link ms-4 my-0 mb-4" href="#cas12a-2">Iteration 2</a>
          </nav>
          <a class="nav-link mb-4" href="#conclusion">Conclusion</a>
          <a class="nav-link mb-4" href="#sources">Sources</a>
        </nav>
      </nav>
    </div>
    <div id="text-content" class="col">
      <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-method="auto" data-bs-offset="10" tabindex="0">
        <h2 id="flow">Optimizing the Lateral Flow Assay</h2>
        <br><br><br><br><br>
        <div class="shadow" style="background-color:#c4dbd3; text-align:left; vertical-align: middle; padding:20px 47px;">
          <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-method="position" data-bs-offset="0" tabindex="0">
            <div class="card-group">
              <div class="card">
                <button type="button" data-bs-toggle="modal" data-bs-target="#designModal"><img src="https://2021.igem.org/wiki/images/7/71/T--HKIS--design.png" class="card-img" alt="..."></button>
                <div class="card-body">
                  <h4 style="padding-top: 0 !important" class="card-title">Design</h4>  
                </div>
              </div>
              <div class="card">
                <button type="button" data-bs-toggle="modal" data-bs-target="#researchModal"><img src="https://2021.igem.org/wiki/images/b/b0/T--HKIS--research.png" class="card-img" alt="..."></button>
                <div class="card-body">
                  <h4 style="white-space: pre-line; padding-top: 0 !important" class="card-title">Research/ Imagine</h4>
                </div>
              </div>
              <div class="card">
                <button type="button" data-bs-toggle="modal" data-bs-target="#buildModal"><img src="https://2021.igem.org/wiki/images/c/ca/T--HKIS--build.png" class="card-img" alt="..."></button>
                <div class="card-body">
                  <h4 style="padding-top: 0 !important" class="card-title">Build/Test</h4>
                </div>
              </div>
              <div class="card">
                <button type="button" data-bs-toggle="modal" data-bs-target="#learnModal"><img src="https://2021.igem.org/wiki/images/b/b2/T--HKIS--learn.png" class="card-img" alt="..."></button>
                <div class="card-body">
                  <h4 style="padding-top: 0 !important" class="card-title">Learn</h4>
                </div>
              </div>
            </div>
        </div>
        <br>
        <h3 id="flow-1">Iteration 1</h3>
        <h4>Research/Imagine</h4>
          <p>When first exploring our idea for a portable detection system, we researched many different ways to display it. First and foremost, we wanted our detection system to be affordable and easy to use. We looked into multiple ways to display a result. We researched a fluorescence based visualization extensively. However, it would be impractical in on-field conditions due to the equipment required. We decided on a lateral flow assay. Not only do lateral flow assays display a clear one/two band result, but they also show varying band intensity levels for a rough estimate of bacteria concentration in the oyster. Additionally, this technology is expected to be somewhat intuitive for users, as it is also the display method used for pregnancy tests. </p> 
        <h4>Design/Build/Test</h4>
          <p>Our first test of the lateral flow assay was to determine the minimum concentration of Cas12a enzyme required to show a result. We created several tubes of reagents with different concentrations of Cas12a, and once they were prepared, we submerged our lateral flow assay dipsticks in them for our first test. However, we had a problem. While the assays showed a result, there was no change in the test (positive) band. Even the control sample showed a positive result. In the image below, you can see that from the left (high concentration) to the right (control), there is always a positive testing band, even though in control (farthest right), there shouldn’t be. The fact that even negative control LFAs resulted in positive results was a serious issue: we did not want our system to show false-positive results. We decided to investigate this issue to come up with a possible solution.</p>      
          <img src="https://2021.igem.org/wiki/images/thumb/6/6e/T--HKIS--Engineering_Success_1.png/1600px-T--HKIS--Engineering_Success_1.png">
        <h3 id="flow-2">Iteration 2</h3>
        <h4>Research/Imagine</h4>
          <p>Our central hypothesis for this result’s cause was that either the biotin was degraded/overflowed or the gold nanoparticles were oversaturated. We first decided to test for the degradation/overflow of biotin to rule it out as a cause.
          </p> 
        <h4>Design</h4>
          <p>First, we designed an experiment with varying concentrations of biotin to test for biotin degradation. This protocol would hopefully show whether the biotin overflowed or if it had degraded. We tested at four different concentrations to get enough variety for accurate results.
          </p>
        <h4>Build/Test</h4>
          <p>Our test ended up showing similar results to the first one: there was minimal variation in concentrations, to the point where the 2 µL biotin tube had almost the same results as the 0.25 µL biotin tube. In this image, it is difficult to discern which assay was used with which concentration at first glance. We had to solve this issue since it would make using our kit very difficult, as it would be nigh-impossible to discern positive and negative results.
          </p>
          <img src="https://2021.igem.org/wiki/images/c/cd/T--HKIS--Engineering_Success_2.png">
        <h4>Learn/Improve</h4>
          <p>We realized that while the biotin might have degraded, it was more likely that the gold nanoparticles in the lateral flow assay were oversaturated. The oversaturation explained the strong results, even with lower concentrations of biotin or Cas12a. Now that we realized the issue was due to oversaturation, we had to find a way to reduce gold nanoparticle quantities.
          </p> 
        <h3 id="flow-3">Iteration 3</h3>     
        <h4>Design</h4>
          <p>To combat the oversaturation of gold nanoparticles, we came up with the solution of physically cutting the lateral flow assay testing section. We thought that by reducing the amount of gold, we would reduce the strength of the result.
          </p> 
        <h4>Build/Test</h4>
          <p>We took specific measurements and cut off the end of the test (where the gold particles were situated). We left one dipstick whole as a control, then cut off 8mm, 10mm, 12mm, and 14mm. We created five tubes of the same reagent mix for the experiment to evaluate the change in the results best. Our results were generally as expected (as seen in the image below). As the amount cut off increased, the brightness of the result decreased. However, it is clear from the image that this method was very crude, even though you can see a clarity gradient in the testing band. This was as expected since the gold nanoparticles play a significant role in the function of the lateral flow assay. 
          </p>   
          <img src="https://2021.igem.org/wiki/images/4/46/T--HKIS--Engineering_Success_3.png">   
        <h4>Learn/Improve</h4>
          <p>While we had a functional result, this method was still very unrefined. There had to be better solutions than just cutting each dipstick before use. We decided to continue researching to see if we could develop a more sophisticated method of improving the lateral flow assay.</p>      
        <h3 id="flow-4">Iteration 4</h3>
        <h4>Imagine/Research</h4>
          <p>We researched several different lateral flow assays and possible reasons for oversaturation and bright results. Finally, we came upon the idea to adjust the buffer viscosity of the lateral flow assay. We realized that by making the buffer more viscous, we could adjust how the reagents flowed up through the assay and possibly make the result more accurate.
          </p>      
        <h4>Design</h4>
          <p>We decided to use polyethylene glycol (PEG) as our thickening agent for the buffer. Additionally, we consulted the Milenia protocols and reduced the amount of biotin used from 10 pmol to 5 pmol. We hoped that this alteration to the buffer would result in a more sophisticated solution to our problem.</p>
        <h4>Build/Test</h4>
          <p>We first made the PEG buffer mix. For this experiment, we tested a 4% PEG concentration and a 5% PEG concentration. We made them by mixing 8000 weight PEG with TBS buffer and filling them to 10 mL. From there, we developed a controlled positive and negative result for each. A clear positive result and a clear negative result were expected for each. We also expected that the buffer viscosity would have an impact on the results.
          </p>
        <h4>Learn</h4>
          <p>Our results were excellent. The controlled negative showed no testing band, and the controlled positive had an unmistakably clear positive band. We found that the 4% PEG had the best result, with an extremely clear positive and negative. We decided to move forward with the 4% PEG Assay buffer instead of the provided assay buffer we had been using previously. In the image below, the LFA on the left has no visible testing band, while the LFA on the right has a very clear positive testing band. We had finally optimized our lateral flow assay.
          </p>
          <img src="https://2021.igem.org/wiki/images/thumb/0/0d/T--HKIS--Engineering_Success_4.png/1600px-T--HKIS--Engineering_Success_4.png">
        <h2 id="cas12a">Optimizing the Cas12a Ratio</h2>
        <h3 id="cas12a-1">Iteration 1</h3>
        <h4>Research/Imagine</h4>
          <p>
            When planning our project, we researched several ways we could produce a successful detection system. We decided on a Cas12a-RPA one-pot assay. The functionality of Cas12a, regardless of the presence of a PAM site, allowed for a broader scope of detection. We chose RPA because of its relatively low reaction temperature and its rapid signal amplification speed. Furthermore, these reagents can be freeze-dried and can therefore be used in the field. Once this was established, we wanted to determine the ideal ratio of RPA solution quantity to Cas12a enzyme for optimized result brightness.
          </p>
        <h4>Design</h4>
          <p>
            We knew it was possible to directly oversaturate the solution with Cas12a to get an extremely positive result, but we wanted to develop a more sophisticated system by being more economical in our use of Cas12a. This would also add to the affordability of our detection system since the Cas12a is one of the more expensive reagents. We designed the experiment by varying our RPA volume to change the ratio of Cas12a to RPA. We decided to run this first experiment using fluorescence since it would be easier to indicate the best ratio. 
          </p>
        <h4>Build/Test</h4>
          <p>
            From our first experiment, we found that after only five minutes, the brightness of the fluorescence was so high that it was difficult to discern the optimal ratio of Cas12a to RPA. While we were able to identify the best ratio after careful examination, it was quite hard to differentiate with the naked eye. In the image below, at first glance, it is very difficult to tell which is the brightest, even though some are slightly brighter than others.
          </p>
          <img src="https://2021.igem.org/wiki/images/1/1c/T--HKIS--Engineering_Success_5.png">
        <h4>Learn/Improve</h4>
          <p>
            We thought that this bright result might have been due to an error in the RPA. It was also possible that the issue was the Cas12a, where a small quantity with high concentration led to the error in results. We decided to troubleshoot this high fluorescence to see if it was due to an error or if it was an accurate result.
          </p>
        <h3 id="cas12a-2">Iteration 2</h3>
        <h4>Design</h4>
          <p>
            For our new experiment, we decided to make a negative RPA reaction to rule out the possibility of RPA error. We also readjusted the quantity of Cas12a, but we did not change the concentration. Since this experiment was to determine if the Cas12a ratio was optimal, we wanted to maintain it to test if it was a legitimate result or the product of error. We wanted to test this because we thought the amount of Cas12a might have created a higher than expected yield of the Cas-crRNA complex.
          </p>
        <h4>Build/Test</h4>
        <p>
          We essentially ran the same experiment except with an altered negative control and Cas12a quantity. We again ran it with fluorescence to have a point of reference against our previous results. However, we also ran it using the lateral flow assay. Our negative control for the fluorescence had no RPA FQ, while the LFA had no RPA Biotin. From this, we were able to see how this reaction displayed in our actual testing kit. In the image below, the LFA and the FQ setup clearly show negative and positive results similar to the previous experiment.
        </p>
        <!-- make them side by side -->
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col justify-content-center" style="margin: auto;"><img width="53.25%" src="https://2021.igem.org/wiki/images/b/be/T--HKIS--Engineering_Success_6.png">
            </div>
            <div class="col justify-content-center" style="margin: auto;"><img src="https://2021.igem.org/wiki/images/c/ce/T--HKIS--Engineering_Success_7.png">
            </div>
          </div>
        </div>
        <p></p>
        <h4>Learn</h4>
        <p>
          Our results were excellent. The lateral flow dipstick experiment was purely cosmetic, and was kept to determine whether the issue lied with fluorescence or lateral flow assay. We found that the brightness was the same after five minutes, while the controls in both the fluorescence and the LFA showed negative results (with no brightness or testing band). We therefore realized that the brightness was due to use of abnormally high concentrations of fluorescent-quenchers. Our positive result for the fluorescence was similarly bright after five to ten minutes, proving that our previous results accurately represented the experiment. These results also showed a clear testing band on the lateral flow assay. Overall, the accuracy and success of this experiment ensured that we had found the optimal ratio of Cas12a to RPA, which would be used in all later builds of our experiments. 
        </p>
        <h2 id="conclusion">Conclusion</h2>
        <p>
          Overall, these experiments are only some examples of how we as a team developed and improved different aspects of our detection systems. By working through our challenges and following the engineering design process, we were able to bring together a better end product that functions as we intended. Learn more about our functioning product on our <a href="https://2021.igem.org/Team:HKIS/Implementation">implementation page</a>.
        </p>
        <div id="sources-div">
          <h2 id="sources">Sources</h2>
          <p class="thin">“An Engineer's Mindset: Creativity in Engineering.” · NES Fircroft, www.nesfircroft.com/blog/2021/09/an-engineers-mindset-creativity-in-engineering.</p>
        </div>
      </body>
    </div>
  </div>

  <!-- Footer code derived from © 2021 Copyright: MDBootstrap.com -->
  <footer class="text-center text-white" style="z-index: 999; background-color: #8f8f8f;">
    <!-- Grid container -->
    <div class="container p-4">
      <h1 style="margin-top: 1.5vh !important;">Special Thanks to Our Sponsors!</h1>
      <!-- Section: Images -->
      <section class="">
        <div class="row justify-content-center mt-5 mb-5" style="width: 100%;">
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 10.5vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/a/ac/T--HKIS--new-england-biolabs.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="New England Biolabs"
              />
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 19vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/2/2e/T--HKIS--twist.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Twist Bioscience"
              />
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 9.33vmax;"
            >
              <img
                src="https://2021.igem.org/wiki/images/d/d0/T--HKIS--rtc.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Frederick Gardner Cottrell Foundation of Research Corporation Technologies"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->

      <!-- Section: Form -->
      <section>
        <h3 class="contact">Contact Us</h3>
        <h4 class="contact">igem.hshk@gmail.com</h3>
      </section>
      <!-- Section: Form -->

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://2021.igem.org/Team:HKIS">VibCheck-HKIS</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/bootstrap.bundle.min.js&action=raw&ctype=text/javascript"></script>
  <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/jquery.min.js&action=raw&ctype=text/javascript"></script>
  <script type="text/javascript" src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/content.js&action=raw&ctype=text/javascript"></script>
  <script>
    $(window).on("load", () => {
      $(".modal").prependTo("body");
      $(".modal .modal-title").css({
        fontFamily: "Bitter"
      });
    })
  </script>
</html>