<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link href="../static/css/base.css" rel="stylesheet" type="text/css">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
	<title>HKIS iGEM Blog</title>
</head>

<nav id="navbar" class="shadow navbar sticky-top navbar-expand-lg navbar-dark" style="top: 16px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="">HKIS iGEM 2020</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="https://google.com">
            Home
          </a>
        </li>
        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="https://2021.igem.org/Team:HKIS/Description" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
          </a>
        </li>

        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Human Practices
          </a>
          <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Human_Practices">
              Integrated Human Practices
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Implementation">
              Proposed Implementation
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Entrepreneurship">
              Entrepreneurship
            </a>
          </ul>
        </li>
        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Wet-Lab
          </a>
          <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Engineering">
              Engineering<br>Success
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Experiments">
              Experiments
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Parts">
              Parts
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Improvement_of_an_Existing_Part">
              Improvement of an<br>Existing Part
            </a>
          </ul>
        </li>
        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dry-Lab
          </a>
          <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Model">
              Modeling
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Hardware">
              Hardware
            </a>
          </ul>
        </li>
        <li class="nav-item nav-item-hover dropdown dropdown-hover">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Team
          </a>
          <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Attributions">
              Attributions
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Collaborations">
              Collaborations
            </a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Contribution">
              Contribution
            </a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
              class="w-100"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <!-- <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p> -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <h2 class="mt-5">Contact Us</h2>
              <input type="email" id="form5Example2" class="form-control m-3" />
              <!-- Submit button -->
              <button type="submit" class="btn btn-lg btn-primary mb-3">
                Submit
                <!-- <h4>Submit</h4> -->
              </button>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
</html>