<!-- {{ HKIS/base.html }} -->

<html>

  <head>
    <!-- <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/bootstrap.min.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/base.css&action=raw&ctype=text/css">
    <link type=text/css rel="stylesheet" href="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/css/home.css&action=raw&ctype=text/css"> -->
    <link type=text/css rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type=text/css rel="stylesheet" href="../static/css/base.css">
    <link type=text/css rel="stylesheet" href="../static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <!-- {{ HKIS/base.html }} -->
  <nav id="navbar" class="shadow navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">HKIS iGEM 2020</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="https://google.com">
              Home
            </a>
          </li>
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="https://2021.igem.org/Team:HKIS/Description" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Project
            </a>
          </li>
  
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Human Practices
            </a>
            <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Human_Practices">
                Integrated Human Practices
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Implementation">
                Proposed Implementation
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Entrepreneurship">
                Entrepreneurship
              </a>
            </ul>
          </li>
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Wet-Lab
            </a>
            <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Engineering">
                Engineering<br>Success
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Experiments">
                Experiments
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Parts">
                Parts
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Improvement_of_an_Existing_Part">
                Improvement of an<br>Existing Part
              </a>
            </ul>
          </li>
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dry-Lab
            </a>
            <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Model">
                Modeling
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Model">
                Hardware
              </a>
            </ul>
          </li>
          <li class="nav-item nav-item-hover dropdown dropdown-hover">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Team
            </a>
            <ul class="dropdown-menu fade-down shadow-lg" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Attributions">
                Attributions
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Collaborations">
                Collaborations
              </a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="https://2021.igem.org/Team:HKIS/Contribution">
                Contribution
              </a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
  <!-- Introduction slideshow -->
  <!-- 3 textboxes on the sea animation (left, right, left) -->
  <!-- Sillhouete drawing at the bottom of the sea -->
  <div id="introSlideshow" class="shadow-lg bg-body rounded-3 carousel slide" data-ride="carousel">
    <div class="shadow-lg carousel-inner rounded-3">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid rounded-3" src="../static/media/images/slide_1_img.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded-3" src="../static/media/images/slide_2_img.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded-3" src="../static/media/images/slide_3_img.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded-3" src="../static/media/images/slide_4_img.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid rounded-3" src="../static/media/images/slide_5_img.jpg" alt="Fifth slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#introSlideshow" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#introSlideshow" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#introSlideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#introSlideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#introSlideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#introSlideshow" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#introSlideshow" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
  </div>


  <svg id="arrow-down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    <circle id="arrow-down-circle" cx="8" cy="8" r="8" stroke-width="3"></circle>
  </svg>

  <section id="sea-animation">
    <div id="wave-wrapper">
      <div id="wave-wrapper-1">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave1"/></svg>
      </div>
      <div id="wave-wrapper-2">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave2"/></svg>
      </div>
    </div>
    <section id="info">
      <div id="info-1" class="info-anchor shadow-lg">
        <h1 class="medium">Context: Vibrio</h1>
        <p class="light">
          Across the world, Vibrio pathogens are becoming increasingly prevalent in seafood, specifically bivalves and oysters. 
          In fact, there are more than <b>80,000</b> people being infected by Vibrio-related bacterium, and an estimated <b>100</b> Vibrio-caused 
          deaths each year, which amounts to <b>95%</b> of all seafood-related deaths.
        <p>
      </div>
      <div id="info-2" class="info-anchor shadow-lg">
        <h1 class="medium">Problem: Cost</h1>
        <p class="light">
          Unfortunately, as all current methods of Vibrio detection rely on the use of <b>expensive thermocycling machines</b>, 
          there is no cheap, quick, and effective method to determine if oysters are clean. Additionally, there are no oyster 
          contamination purification methods capable of killing pathogens without killing the oysters in the process.
        <p>
      </div>
      <div id="info-3" class="info-anchor shadow-lg">
        <h1 class="medium">Solution: Point-of-care Detection – Vib-check</h1>
        <p class="light">
          Our team’s solution for the lack of viable detection methods is a Vibrio detection kit that relies on a novel <b>isothermal amplification method</b>
          in conjunction with the highly specific enzyme <b>CRISPR Cas12a</b> for the rapid and accurate detection 
          of minuscule Vibrio DNA signals.
        </p>
      </div>
      <div id="info-4" class="info-anchor shadow-lg">
        <h1 class="medium">Solution: Antimicrobial Peptide Purification</h1>
        <p class="light">
          Besides detection, another large part of the issue with Vibrio contamination in oysters is the lack of sufficient purification methods. 
          Our solution is using algae – natural oyster feed used in aquacultures to feed oysters – to express highly effective <b>anti-Vibrio antimicrobial peptides</b>
          for eliminating Vibrio contamination in fresh samples, or contamination remaining from current purification methods.
        </p>
      </div>
    </section>
    <!-- <img id="oysters" src="../static/playgrounds/oyster_background.png" bottom="10px"> -->
    <img id="sea-background" src="../static/media/images/oyster_background.svg"></img>
  </section>
  
  <footer class="text-center text-white pt-5" style="z-index: 999; background-color: #000000;">
    <!-- Grid container -->
    <div class="container p-4">
      <h1>Special Thanks to Our Sponsors!</h1>
      <!-- Section: Images -->
      <section class="">
        <div class="row justify-content-center mt-5 mb-5" style="width: 100%;">
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 10.5vmax;"
            >
              <img
                src="../static/media/images/new-england-biolabs.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="New England Biolabs"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 19vmax;"
            >
              <img
                src="../static/media/images/twist.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Twist Bioscience"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div style="width: fit-content;" class="col-lg-2 col-md-auto mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
              style="width: 9.33vmax;"
            >
              <img
                src="../static/media/images/rtc.svg"
                class="img-fluid w-100 shadow bg-white rounded"
                alt="Frederick Gardner Cottrell Foundation of Research Corporation Technologies"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
  
      <!-- Section: Form -->
      <section class="">
        <h3>Contact Us</h3>
        <h4>igem.hshk@gmail.com</h4>
      </section>
      <!-- Section: Form -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://2021.igem.org/Team:HKIS">VibCheck-HKIS</a>
    </div>
    <!-- Copyright -->
  </footer>

  <div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>    
    <script src="../static/js/wavify.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/home.js"></script>
  </div>
  <script src="https://2021.igem.org/wiki/index.php?title=Template:HKIS/static/js/bootstrap.bundle.min.js&action=raw&ctype=text/javascript"></script>
  </body>

</html>
